body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 0 0;
}
ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    list-style: none;
}
li {
    float: left;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
li.one {
    float: none;
    padding-left: 240px;
}
