body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 0 0;
}
ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
ul li {
    list-style: none;
    float: left;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
li.one {
    float: none;
    padding-left: 240px;
}
li.one div {
    width: 480px;
    height: 360px;
}
li.two div {
    width: 480px;
    height: 360px;
}
li.three div {
    width: 320px;
    height: 240px;
}
li.four div {
    width: 240px;
    height: 180px;
}
li.one h2 {
    width: 440px;
}
li.two h2 {
    width: 440px;
}
li.three h2 {
    width: 280px;
}
li.four h2 {
    width: 200px;
}
li.one img.thumb {
    width: 480px;
    height: 360px;
}
li.two img.thumb {
    width: 480px;
    height: 360px;
}
li.three img.thumb {
    width: 320px;
    height: 240px;
}
li.four img.thumb {
    width: 240px;
    height: 180px;
}
.play-img {
    z-index: 999;
    position: relative;
    opacity: .60;
    width: 48px;
    height: 48px;
}
li.one .play-img {
    top: -204px;
    left: 216px;
}
li.two .play-img {
    top: -204px;
    left: 216px;
}
li.three .play-img {
    top: -144px;
    left: 136px;
}
li.four .play-img {
    top: -114px;
    left: 96px;
}
div.vid h2 {
    display: none;
    background: black;
    margin: 0em;
    padding: 0.5em 20px 0.5em 20px;
    color: white;
    z-index: 999;
    position: absolute;
    font-size: 138.5%;
}
#fade {
    display: none;
    background: #000;
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100%;
    opacity: .80;
    z-index: 9999;
}
#player {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -240px;
    margin-top: -180px;
    visibility: hidden;
    z-index: 99999;
    -webkit-box-shadow: 0em 0em 3em #000;
    -moz-box-shadow: 0em 0em 3em #000;
    box-shadow: 0em 0em 3em #000;
}
#overlay {
    z-index: 999999;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
    position: absolute;
}
*html #player {
    position: absolute;
}
