<html>
  <head>
    <title>Funnytube</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">    <link rel="stylesheet" type="text/css" href="/css/reset-fonts-grids-base-min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/swfobject.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <form action="/submit" method="POST">
      <input name="v"/>
      <input type="submit"/>
    </form>
    <ul>
      <% @videos.each_with_index do |video, i| %>
        <% if i < 2 %>
        <li class="two">
        <% elsif i < 5 %>
        <li class="three">
        <% else %>
        <li class="four">
        <% end %>
          <div class="vid">
            <h2><%=video["title"] %></h2>
            <a class="play-link" href="#" rel="<%=video["_id"] %>"><img class="thumb" src="http://img.youtube.com/vi/<%=video["_id"] %>/0.jpg"><img class="play-img" src="/images/play.png"></a>
          </div>
        </li>
      <% end %>
    </ul>
    <div id="player">
      <h1 id="vt"></h1>
      <div id="video">
        <div id="ytapiplayer">
          You need Flash player 8+ and JavaScript enabled to view this video.
        </div>
        <div id="overlay"></div>
    </div>
  </body>
</html>
